.navbar a, .navbar ul li, .navbar span a i, .contact-left, .contact-left > *, .social-icons-animation > *{
    opacity: 0;
    animation: slideRight 1s ease-in-out forwards;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-image-animation {
    opacity: 0;
    animation: zoomBounce 2s ease-in-out forwards;
    animation-delay: 0.5s;
}

@keyframes zoomBounce {
    0% {
        opacity: 0;
        transform: scale(0.5) rotate(-40deg);
    }
    50% {
        transform: scale(1.1) rotate(0);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
}

.hero-content-animation > *, .about-container-animation > *, .education-container-animation > *, .skills-container-animation > *, .projects-container-animation > *, .contact-right form > *, .copyright > *, .stats > *{
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}