@media (max-width: 1000Px) {
    .navbar ul {
        display: none;
    }

    header {
        padding: 8px 8%;
    }
        
    section {
        padding: 8% 8% 0%;
    }
 
    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }    

    .hero-image {
        margin-top: -5rem;
        width: 60%;
    }

    .hero-content {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
    .hero-content p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }    

    .about-title {
        text-align: center;
        margin-bottom: 3rem;
    }

    .about-content-info { 
        width: 100%;
        border-bottom: none;
    }

    .about-content-info p:nth-child(2), 
    .about-content-info p:nth-child(4) {
        margin-top: 2rem;
    }

    .about-content-image {
        display: none;
    }

    .location {
        margin-top: 0;
    }
        
    .about-content-stack {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
        
    .about-content-stack .stack {
        width: 100%;
    }
        
    .work-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1001px){ 
    .menu-icon, .menu-bar {
        display: none;
    }
}

@media (max-width: 850px) {
    section {
        padding: 10% 5% 0%;
    }

    .hero-image {
        margin-top: -2rem;
        width: 60%;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }

    .contact-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }   
    
    .stat h1 {
        font-weight: 400;
    }

    .stat-text {
        font-size: 0.75rem;
        line-height: 1.2;
    }
}

@media (max-width: 750Px) {
    .skills-img {
        margin: 2rem 2rem;
    }

    .stats .stat {
        gap: 0.75rem;
    }
}

@media (max-width: 650px) {
    section {
        padding: 13% 5% 0%;
    }

    .stat h1 {
        font-size: 1.5rem;
    }

    .stat-text {
        font-size: 0.6rem;
        line-height: 1.25;
    }

    .stats .stat {
        gap: 0.6rem;
    }
    
    .copyright {
        font-size: 0.6rem;
    }
}
    
@media (max-width: 530Px) {
    section {
        padding: 14% 5% 0%;
    }

    body, .btn {
        font-size: 0.85rem;
    }

    .menu-bar {
        width: 10rem;
    }

    .menu-icon {
        font-size: 1.2rem;
    }

    .menu-bar ul li {
        margin-top: 1.5rem;
    }

    header {
        padding: 8px 5%;
    }

    .hero-content p:nth-child(1) {
        font-size: 2.25rem;
        margin: 2rem 0rem;
    }

    .skills-img img {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 0.75;
    }

    .feedback-title {
        margin: 0 0 1rem 2rem;
    }

    .feedback-title h2 {
        font-weight: 500;
    }
}

@media (max-width: 500Px) {
    .cvbtn {
        display: none;
    }

    .menu-icon {
        font-size: 1rem;
    }

    .stat h1 {
        font-size: 1.25rem;
    }

    .stat-text {
        font-size: 0.6rem;
        line-height: 1.25;
    }

    .stats .stat {
        gap: 0.6rem;
    }
}

@media (max-width: 450px) {
    .stat h1 {
        font-size: 1.15rem;
    }

    .stat-text {
        font-size: 0.5rem;
        line-height: 1.25;
    }

    .stats .stat {
        gap: 0.4rem;
    }

    .stats {
        margin-bottom: 1rem;
    }
}

@media (max-width: 400px) {
    body, .btn {
        font-size: 0.75rem;
    }

    .btn {
        padding: 0.4rem 0rem;
    }

    .hero-btn {
        gap: 0.5rem;
        margin-top: 2rem;
    }

    .hero-content p:nth-child(1) {
        font-size: 1.9rem;
        margin: 2rem 0rem;
    }

    .stack-btn {
        padding: 0.15rem 0.75rem;
    }

    .education-content li {
        padding: 1rem 1.5rem;
    }

    .education-content .img-div img {
        height: 4rem;
        width: 4rem;
        border-radius: 0.5rem;
    }

    .skills-img {
        margin: 1.5rem 1.5rem;
    }

    .skills-img img {
        height: 3rem;
        width: 3rem;
        border-radius: 0.5rem;
    }

    .layer {
        font-size: 0.75rem;
    }

    .layer div a {
        width: 2rem;
        height: 2rem;
    }

    .layer div a i {
        font-size: 0.75rem;
    }

    .social-icons a {
        font-size: 1.5rem;
    }

    form input, form textarea {
        padding: 0.4rem;
    }

    .contact-right form .btn {
        margin-top: 1rem;
    }

    .stat h1 {
        font-size: 1rem;
    }

    .stat-text {
        font-size: 0.4rem;
        line-height: 1.25;
    }

    .stats .stat {
        gap: 0.4rem;
    }

    .copyright {
        font-size: 0.4rem
    }
}